<%= render 'shared/header' %>

<div class="user-index-container">
  <%= link_to 'Return', event_path(@event_id), class: 'return-link' %>

  <div class="user-list">
    <div class="list-title">
      <h1 class="list-title-text">Available Users:</h1>
    </div>
    <% @users.each do |user| %>
    <% next if user == current_user %>

    <div class="user-details">
      <p class="user-name"><%= user.username %></p>
      <% if Event.find(@event_id).attendees.include? user %>
        <% attendance = EventAttendance.find_by(attendee_id: user.id, attended_event_id: @event_id) %>
        <%= button_to 'Cancel Invite', event_attendance_path(id: attendance.id, event_id: @event_id, user_id: user.id), class: 'cancel-invite-btn', method: :delete %>
      <% else %>
        <%= button_to 'Invite', event_attendances_path(event_id: @event_id, user_id: user.id), class: 'invite-btn' %>
      <% end %>
    </div>
  <% end %>
  </div>

</div>
