<%= render 'shared/header' %>

<div class="user-profile-container">
  <div class="user-greeting">
    <h1 class="user-greeting-text">Hello, <%= @user.username %>!</h1>
  </div>

  <div class="user-events">
    <div class="created-events">
      <h3 class="user-events-title">Your events:</h3>
      <% @user.created_events.each do |event| %>
        <p class="event-link"><%= link_to event.name, event %></p>
      <% end %>
    </div>
    <div class="upcoming-events">
      <h3 class="user-events-title">Your upcoming invitations:</h3>
      <% @future_events.each do |event| %>
        <p class="event-link"><%= link_to event.name, event %></p>
      <% end %>
    </div>
    <div class="past-events">
      <h3 class="user-events-title">Your past invitations:</h3>
      <% @past_events.each do |event| %>
        <p class="event-link"><%= link_to event.name, event %></p>
      <% end %>
    </div>
  </div>
</div>
