<div class="header-container">
  <header>
  <%= link_to root_path do %><h1 class="app-title">Events Manager</h1><% end %>
  <nav>
    <% if user_session %>
      <%= button_to current_user.username, current_user, class: 'profile-btn', method: :get %>
      <%= button_to "Logout", destroy_user_session_path, class: 'logout-btn', method: :get %>
    <% else %>
      <%= button_to 'Login', new_user_session_path, class: 'login-btn', method: :get %>
      <%= button_to 'Sign Up', new_user_registration_path, class: 'sign-up-btn', method: :get %>
    <% end %>
  </nav>
  </header>
</div>
