<div class="form-container">
  <%= form_with model: event do |form| %>
    <div class="form-section">
      <%= form.label :name %>:
      <%= form.text_field :name %>
    </div>
    <div class="form-section">
      <%= form.label :description %>:
      <%= form.text_area :description %>
    </div>
    <div class="form-section">
      <%= form.label :location %>:
      <%= form.text_field :location %>
    </div>
    <div class="form-section">
      <%= form.label :date %>:
      <%= form.date_field :date %>
    </div>
    <%= form.submit %>
  <% end %>
</div>
