<div class="events-index-container">
  <div class="header-container">
    <header>
    <h1 class="app-title">Events Manager</h1>
    <nav>
      <% if user_session %>
        <button class="profile-btn"><%= link_to current_user.username, current_user %></button>
        <button class="logout-btn"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
      <% else %>
        <button class="login-btn"><%= link_to 'Login', new_user_session_path %></button>
        <button class=sign-up-btn><%= link_to 'Sign Up', new_user_registration_path %></button>
      <% end %>
    </nav>
    </header>
  </div>



  <div class="events-container">
    <div class="events-list future-events">
      <h2 class="section-title">Future Events</h2>
        <% @future_events.each do |event| %>
          <div class="event-card">
            <div class="card-title">
              <%= link_to event do %><h3 class="event-name"><%= event.name %></h3><% end %>
            </div>
            <div class="card-description">
              <%= event.description %>
            </div>
            <div class="card-bottom">
              <div class="location">
                <%= event.location %>
              </div>
              <div class="date">
                <%= event.date %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <div class="division"></div>
    <div class="events-list past-events">
      <h2 class="section-title">Past Events</h2>
        <% @past_events.each do |event| %>
          <div class="event-card">
            <div class="card-title">
              <%= link_to event do %><h3 class="event-name"><%= event.name %></h3><% end %>
            </div>
            <div class="card-description">
              <%= event.description %>
            </div>
            <div class="card-bottom">
              <div class="location">
                <%= event.location %>
              </div>
              <div class="date">
                <%= event.date %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="create-event-container">
    <%= link_to new_event_path do %> <button class="create-event">Create Event</button> <% end %>
  </div>
</div>

