<h1>Events Manager</h1>

<div class="events-container">
  <div class="future-events">
    <h2>Future Events</h2>
    <ul>
      <% @future_events.each do |event| %>
        <li><%= link_to event.location, event %></li>
      <% end %>
    </ul>
  </div>
  <div class="past-events">
    <h2>Past Events</h2>
    <ul>
      <% @past_events.each do |event| %>
        <li><%= link_to event.location, event %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Create Event', new_event_path %>
<% if user_session %>
  <%= link_to current_user.username, current_user %>
<% end %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
