<%= render 'shared/header' %>

<div class="events-show-container">
  <div class="event-container">
    <div class="event-first-section">
      <div>
        <h1 class="event-name"> <%= @event.name %> </h1>
        <h2 class="event-host">Hosted by: <%= @event.creator.username %></h2>
      </div>
      <p class="event-description"> <%= @event.description %> </p>
    </div>
    <div class="event-second-section">
      <div class="section-details">
        <p>Event Location:</p>
        <p class="details-text"><%= @event.location %></p>
      </div>
      <div class="section-details">
        <p>Event Date:</p>
        <p class="details-text"><%= @event.date %></p>
      </div>
    </div>
    <div class="event-third-section">
      <%= render 'event_attendance', event: @event %>
    </div>
    <div class="event-fourth-section">
      <%= render 'event_buttons', event: @event %>
    </div>
  </div>
</div>

