<h1>Event Name</h1>

<%= current_user.username %>

<%= link_to root_path do %><h3>Events Manager</h3><% end %>

<div class="event-details">
  <p>Event creator: <%= @event.creator.username %></p>
  <p>Event location: <%= @event.location %></p>
  <p>Event date: <%= @event.date %></p>
  <h2>Event Attendees:</h2>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li> <%= attendee.username %> </li>
    <% end %>
  </ul>
  <%= button_to 'Attend', event_attendances_path(attended_event_id: @event.id) %>
</div>

<% if @event.creator == current_user %>
  <div class="control-btns">
    <%= link_to edit_event_path do %> <button>Edit Event</button> <% end %>
    <%= button_to 'Cancel Event', event_path(@event), method: :delete %>
  </div>
<% end %>
